<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
    <%= link_to 'ノード一覧', nodes_path, class: 'btn btn-lg btn-primary' %>
    <%= link_to 'ノード登録', new_node_path, class: 'btn btn-lg btn-primary' %>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
    <h1>Welcome to the IIDOS!</h1>
    ログインするかユーザ登録してください。
    <%= link_to 'ユーザ登録', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>
