<div class="center jumbotron">
  <div class="text-center">
    <h1>Welcome to the IIDOS!</h1>
    ログインするかユーザ登録してください。
    <%= link_to 'ユーザ登録', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>